<% if (typeof success !== 'undefined' && success.length) { %>
<% success.map((item) => { %>
<div class="alert alert-success"><%= item %></div>
<% }) %>
<% } else if (typeof error !== 'undefined' && error.length) { %>
<% error.map((item) => { %>
<div class="alert alert-danger"><%= item %></div>
<% }) %>
<% } %>