<% if (typeof success !== 'undefined' && success.length) { %>
<div class="alert alert-success"><%= success %></div>
<% } else if (typeof error !== 'undefined' && error.length) { %>
<div class="alert alert-danger"><%= error %></div>
<% } %>