<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Node Esports</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%- include('./navItem', {itemUrl: "", itemName: "Home"}) %>
        <%- include('./navItem', {itemUrl: "games", itemName: "Games"}) %>
        <%- include('./navItem', {itemUrl: "players", itemName: "Players"}) %>
        <%- include('./navItem', {itemUrl: "teams", itemName: "Teams"}) %>
      </ul>
    </div>
  </div>
</nav>