<%- layout('layouts/boilerplate') %>

<form action="/games/add" method="post" novalidate onsubmit="return validateFormGame()">
  <div class="card bg-secondary" style="width: 100%">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-secondary text-white">
        <a href="/games"><img src="/assets/arrow-left.svg" /></a>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <h1>Add game</h1>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-name">Name:</label>
        <input class="form-control my-2" id="input-name" type="text" name="name" />
        <p class="text-danger" id="p-error-name"></p>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-duration">Duration:</label>
        <input class="form-control my-2" id="input-duration" type="number" name="duration" />
        <p class="text-danger" id="p-error-duration"></p>
      </li>

      <li class="list-group-item bg-secondary text-white">
        <label for="input-team-size">Team size:</label>
        <input class="form-control my-2" id="input-team-size" type="number" name="team_size" />
        <p class="text-danger" id="p-error-team-size"></p>
      </li>
    </ul>

    <div class="card-body d-flex">
      <button class="btn btn-success my-2" type="submit">Submit</button>
    </div>
  </div>
</form>

<script src="/scripts/validateFormGame.js"></script>