<%- layout('layouts/boilerplate') %>

<div class="card bg-secondary text-white" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">Games</h1>
    <a class="btn btn-primary my-2" href="games/add">Add Game</a>
  </div>
  <% if (games !== undefined) { %>
  <ul class="list-group list-group-flush">
    <% games.map((game) => { %>
    <li class="list-group-item bg-secondary text-white">
      <a href="games/<%=game.game_id%>" class="list-group-item list-group-item-action bg-secondary text-white rounded my-1"><%=game.name%></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</div>