<%- layout('layouts/boilerplate') %>

<div class="card bg-secondary" style="width: 100%">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white">
      <h1>Games</h1>
      <a class="btn btn-primary" href="games/add">Add Game</a>
    </li>
    <% if (games !== undefined) { %>
    <% games.map((game) => { %>
    <a class="list-group-item list-group-item-active bg-secondary" href="games/<%=game.game_id%>"><%=game.name%></a>
    <% }) %>
    <% } %>
  </ul>
</div>