<%- layout('layouts/boilerplate') %>

<h1></h1>
<% if (errors !== undefined) { %>
<% errors.forEach((error) => { %>
<div class="alert alert-danger" role="alert"><%= error.message %></div>
<% })%>
<% } %>