<%- layout('layouts/boilerplate') %>

<div class="card bg-secondary text-white" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">Node Esports</h1>
    <p class="card-text">An application for planning Esports.</p>
    <a href="/games" class="btn btn-primary text-white">Games</a>
    <a href="/players" class="btn btn-primary text-white">Players</a>
  </div>
</div>