<%- layout('layouts/boilerplate') %>

<div class="card bg-secondary text-white" style="width: 100%">
  <div class="card-body">
    <h1 class="card-title">Players</h1>
    <a class="btn btn-primary my-2" href="players/add">Add player</a>
  </div>
  <% if (players !== undefined) { %>
  <ul class="list-group list-group-flush">
    <% players.map((player) => { %>
    <li class="list-group-item bg-secondary text-white">
      <a href="players/<%=player.player_id%>" class="list-group-item list-group-item-action text-white bg-secondary my-1 rounded"><%=player.name%></a>
    </li>
    <% }) %>
  </ul>
  <% } %>
</div>