<%- layout('layouts/boilerplate') %>

<div class="card bg-secondary text-white" style="width: 100%">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-secondary text-white">
      <h1>Players</h1>
      <a class="btn btn-primary" href="players/add">Add player</a>
    </li>
    <% if (players !== undefined) { %>
    <% players.map((player) => { %>
    <a class="list-group-item list-group-item-active bg-secondary" href="players/<%=player.player_id%>"><%=player.name%></a>
    <% }) %>
    <% } %>
  </ul>
</div>